<button id="buttons" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome Back</h4>
      </div>
        <div class="modal-body">

          <%= bootstrap_form_for(@user, {url:sessions_path}) do |f| %>
          
            <div class="field">
              
              <%= f.text_field :email %>
            </div>
            <div class="field">
              
              <%= f.password_field :password %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
            <% end %>

      </div>
    </div>
  </div>
</div>