/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Slab);

body { 
  margin: 0; 
  padding: 0;
  background-image: url("bg.jpg");
}

.navbar {
  margin-bottom: 0px;
}

.splashpage {
  background-image: url("office2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}


#splash {
  margin: 0 auto;
  text-align: center;
}

#buttons {
  margin-top: 450px;
  background: rgba(54, 54, 54, 0.8);
  border: none;
}

.box {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.box li {
  list-style: none;
  padding-top: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.box li a {
  list-style: none;
  padding-top: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.row #thumbgrid {
  padding-left: 10px;
}


.modal-title, h2, h1, .navbar-header, .navbar-right  {
  font-family: Gotham Condensed, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.col-xs-6, .col-xs-4, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


