<% @locations.each do |location| %>
  <ul>
    <%= location.name %> <%=link_to "See more", location_path(location) %>
    <li><%= location.address %></li>
    <li><%= location.description %></li>
  </ul>
<% end %>

kjjkerngkjnerkjgnkejr